* {
  margin: 0;
  padding: 0;
}

.bg {
  height: 100vh;
  width: 100vw;
  background: url('./assets/Background.png') no-repeat center center fixed;
}

.bg-trans {
  background:  rgba(217, 217, 217, 0.05);

}

.bg-login {
  height: 100vh;
  width: 100vw;
  background: url('./assets/Login-bg.png') no-repeat center center fixed;
}